skills/n8n-workflows/templates/gsheets-to-personize.json
{
  "name": "Google Sheets → Personize Memory (Batch Import)",
  "nodes": [
    {
      "id": "pz-trigger-001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {}
    },
    {
      "id": "pz-sheets-001",
      "name": "Google Sheets: Read Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [420, 300],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "options": {
          "headerRow": 1
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "pz-code-001",
      "name": "Build Batch Memorize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "jsCode": "// Google Sheets rows come as flat objects with column headers as keys\nconst items = $input.all();\nconst rows = items.map(item => item.json);\n\n// Filter out empty rows\nconst validRows = rows.filter(r => r.email || r.Email);\n\n// Normalize column names to lowercase\nconst normalizedRows = validRows.map(r => {\n  const normalized = {};\n  for (const [key, value] of Object.entries(r)) {\n    normalized[key.toLowerCase().replace(/\\s+/g, '_')] = value;\n  }\n  return normalized;\n});\n\n// TODO: Replace collection IDs with your actual IDs\n// Find them via GET /api/v1/collections\nconst payload = {\n  source: 'Google Sheets',\n  mapping: {\n    entityType: 'contact',\n    email: 'email',\n    runName: 'n8n-gsheets-import-' + Date.now(),\n    properties: {\n      // Adjust sourceField names to match your sheet column headers (lowercased)\n      email:      { sourceField: 'email',       collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n      first_name: { sourceField: 'first_name',  collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n      last_name:  { sourceField: 'last_name',   collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n      company:    { sourceField: 'company',     collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n      phone:      { sourceField: 'phone',       collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n      // Add extractMemories: true for unstructured fields\n      notes: {\n        sourceField: 'notes',\n        collectionId: 'YOUR_GENERATED_COL_ID',\n        collectionName: 'Generated Content',\n        extractMemories: true,\n      },\n    },\n  },\n  rows: normalizedRows,\n  chunkSize: 1,\n};\n\nconsole.log(`Prepared ${normalizedRows.length} rows for batch memorize`);\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "pz-if-001",
      "name": "Has Rows?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 300],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.rows.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "pz-api-001",
      "name": "Personize: Batch Memorize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.personize.ai/api/v1/batch-memorize",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "pz-cred",
          "name": "Personize API Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 60000
    },
    {
      "id": "pz-noop-001",
      "name": "No Rows to Sync",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1080, 420],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Google Sheets: Read Rows", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets: Read Rows": {
      "main": [
        [{ "node": "Build Batch Memorize Payload", "type": "main", "index": 0 }]
      ]
    },
    "Build Batch Memorize Payload": {
      "main": [
        [{ "node": "Has Rows?", "type": "main", "index": 0 }]
      ]
    },
    "Has Rows?": {
      "main": [
        [{ "node": "Personize: Batch Memorize", "type": "main", "index": 0 }],
        [{ "node": "No Rows to Sync", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
