skills/n8n-workflows/templates/personize-to-slack.json
{
  "name": "Personize → Slack Daily Digest",
  "nodes": [
    {
      "id": "pz-trigger-001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "pz-export-001",
      "name": "Personize: Export Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.personize.ai/api/v1/export",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"type\": \"Contact\",\n  \"returnRecords\": true,\n  \"pageSize\": 50,\n  \"includeMemories\": false\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "pz-cred",
          "name": "Personize API Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 60000
    },
    {
      "id": "pz-code-001",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json.data || $input.first().json;\nconst totalMatched = data.totalMatched || 0;\nconst records = data.records || {};\n\nlet message = `*Personize Memory Digest* — ${totalMatched} contacts\\n\\n`;\n\nlet count = 0;\nfor (const [recordId, props] of Object.entries(records)) {\n  if (count >= 10) {\n    message += `\\n_...and ${totalMatched - 10} more_`;\n    break;\n  }\n  const p = props;\n  const email = p.email?.value || recordId;\n  const company = p.company?.value || 'Unknown';\n  const name = p.first_name?.value || p.full_name?.value || '';\n  message += `• *${name}* (${email}) — ${company}\\n`;\n  count++;\n}\n\nif (totalMatched === 0) {\n  message = '*Personize Memory Digest* — No contacts found matching filters.';\n}\n\nreturn [{ json: { text: message } }];"
      }
    },
    {
      "id": "pz-slack-001",
      "name": "Slack: Post Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [860, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#sales-updates",
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "slack-cred",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Personize: Export Records", "type": "main", "index": 0 }]
      ]
    },
    "Personize: Export Records": {
      "main": [
        [{ "node": "Format Slack Message", "type": "main", "index": 0 }]
      ]
    },
    "Format Slack Message": {
      "main": [
        [{ "node": "Slack: Post Message", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
