skills/no-code-pipelines/templates/hubspot-to-personize.json
{
  "name": "HubSpot Contacts → Personize Memory",
  "nodes": [
    {
      "id": "pz-trigger-001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "pz-hubspot-001",
      "name": "HubSpot: Get Contacts",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "resource": "contact",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {
          "properties": ["firstname", "lastname", "email", "phone", "company", "jobtitle", "mobilephone", "notes_last_updated"]
        }
      },
      "credentials": {
        "hubspotApi": {
          "id": "hubspot-cred",
          "name": "HubSpot API"
        }
      }
    },
    {
      "id": "pz-code-001",
      "name": "Build Batch Memorize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "jsCode": "// Transform HubSpot contacts into batch-memorize payload\nconst items = $input.all();\n\n// Each item.json contains HubSpot contact properties\nconst rows = items.map(item => ({\n  email: item.json.email || item.json.properties?.email || '',\n  firstname: item.json.firstname || item.json.properties?.firstname || '',\n  lastname: item.json.lastname || item.json.properties?.lastname || '',\n  phone: item.json.phone || item.json.properties?.phone || '',\n  company: item.json.company || item.json.properties?.company || '',\n  jobtitle: item.json.jobtitle || item.json.properties?.jobtitle || '',\n  mobilephone: item.json.mobilephone || item.json.properties?.mobilephone || '',\n}));\n\n// Filter out rows without email\nconst validRows = rows.filter(r => r.email);\n\n// TODO: Replace collection IDs with your actual IDs from client.collections.list()\nconst payload = {\n  source: 'Hubspot',\n  mapping: {\n    entityType: 'contact',\n    email: 'email',\n    runName: 'n8n-hubspot-sync-' + Date.now(),\n    properties: {\n      // Structured fields — stored directly, no AI\n      email:        { sourceField: 'email',       collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n      first_name:   { sourceField: 'firstname',   collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n      last_name:    { sourceField: 'lastname',     collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n      phone:        { sourceField: 'phone',        collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n      mobile_phone: { sourceField: 'mobilephone',  collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n      company:      { sourceField: 'company',      collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n      job_title:    { sourceField: 'jobtitle',     collectionId: 'YOUR_STANDARD_COL_ID', collectionName: 'Contacts Standard Schema' },\n    },\n  },\n  rows: validRows,\n  chunkSize: 1,\n};\n\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "pz-api-001",
      "name": "Personize: Batch Memorize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.personize.ai/api/v1/batch-memorize",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "pz-cred",
          "name": "Personize API Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 60000
    },
    {
      "id": "pz-done-001",
      "name": "Sync Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1080, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "HubSpot: Get Contacts", "type": "main", "index": 0 }]
      ]
    },
    "HubSpot: Get Contacts": {
      "main": [
        [{ "node": "Build Batch Memorize Payload", "type": "main", "index": 0 }]
      ]
    },
    "Build Batch Memorize Payload": {
      "main": [
        [{ "node": "Personize: Batch Memorize", "type": "main", "index": 0 }]
      ]
    },
    "Personize: Batch Memorize": {
      "main": [
        [{ "node": "Sync Complete", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
